body {
  font-size: 100%;
  color: #333333;
  height: 100%;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #F0F0F0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  transition: all 0.5s ease;
}
a:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

li {
  list-style: none;
}

.container {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
@media screen and (max-width: 810px) {
  .container {
    max-width: 810px;
  }
}

.slick .slider .prev-arrow,
.slick .slider .next-arrow {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.slick .slider .prev-arrow {
  left: -20px;
}
.slick .slider .prev-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%) rotate(45deg);
  content: "";
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
}
.slick .slider .next-arrow {
  right: -20px;
}
.slick .slider .next-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%) rotate(225deg);
  content: "";
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
}
.slick .slider .slick-dots {
  bottom: 6%;
}
@media screen and (max-width: 428px) {
  .slick .slider .slick-dots {
    bottom: 4.5%;
  }
}
.slick .slider .slick-dots li {
  margin: 0 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.slick .slider .slick-dots li button::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #bbbbbb;
  opacity: 1;
}
.slick .slider .slick-dots li.slick-active button::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #333333;
  opacity: 1;
}
.slick .slider .slick-dots .slick-active::before {
  content: "";
  width: 50px;
  height: 5px;
  background: #333;
  opacity: 1;
}

.sec01 {
  position: relative;
}
.sec01 .sec01-cta {
  position: absolute;
  top: 84.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 94%;
}

.sec02 {
  position: relative;
}
.sec02 .sec02-slick {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  width: 82%;
}

.sec04 {
  position: relative;
  z-index: 2;
}

.sec05 {
  margin-top: -10%;
  position: relative;
  z-index: 1;
}

.sec06 {
  position: relative;
}
.sec06 .sec06-cta {
  position: absolute;
  top: 87.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 94%;
}

.sec09 {
  position: relative;
}
.sec09 .sec09-cta {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translateX(-50%);
  width: 94%;
}

.sec10 .sec10-clinic {
  background-color: #f9e0e0;
  padding: 0 20px 140px 20px;
}
@media screen and (max-width: 428px) {
  .sec10 .sec10-clinic {
    padding: 0 20px 70px 20px;
  }
}
.sec10 .sec10-clinic .sec10-item {
  margin-bottom: 12px;
}
.sec10 .sec10-clinic .sec10-item .accordion-item {
  width: 100%;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-header {
  position: relative;
  cursor: pointer;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-header.is-active {
  background-color: #f19b96;
  border-radius: 10px 10px 0 0;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-header.is-active::after {
  transform: rotate(225deg);
  top: 45%;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-header::after {
  content: "";
  height: 1rem;
  width: 1rem;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  right: 5%;
  top: 35%;
  transform: rotate(45deg);
  transition: all 0.5s;
}
@media screen and (max-width: 810px) {
  .sec10 .sec10-clinic .sec10-item .accordion-item .accordion-header::after {
    height: clamp(11px, 3.467vw, 24px);
    width: clamp(11px, 3.467vw, 24px);
    top: 30%;
  }
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content {
  display: none;
  overflow: hidden;
  padding: 8% 5%;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content .sec10-item-open {
  width: 100%;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content .sec10-item-open img {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content .sec10-item-open .sec10-info p {
  font-size: 19px;
  padding-inline: 8%;
}
@media screen and (max-width: 810px) {
  .sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content .sec10-item-open .sec10-info p {
    font-size: clamp(14px, 3.467vw, 26px);
  }
}
@media screen and (max-width: 428px) {
  .sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content .sec10-item-open .sec10-info p {
    padding-inline: 4%;
  }
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content .sec10-item-open .sec10-info .sec10-address {
  margin-bottom: 1em;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content .sec10-item-open .sec10-info .sec10-time {
  margin-bottom: 40px;
}
.sec10 .sec10-clinic .sec10-item .accordion-item .accordion-content .sec10-item-open iframe {
  width: 100%;
  aspect-ratio: 605/420;
  height: auto;
  border: none;
}

footer .container {
  background-color: #FF9696;
}
footer .container .fixedbtn {
  position: fixed;
  z-index: 100;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 550px;
  width: 96%;
  padding-inline: 1%;
}
@media screen and (max-width: 810px) {
  footer .container .fixedbtn {
    max-width: 768px;
    padding-inline: 0;
  }
}/*# sourceMappingURL=style.css.map */